<%= form_for @article do |f| %>


  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> Não foi possível
        salvar o artigo:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <section class="article-form">
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :subtitle %><br>
        <%= f.text_field :subtitle %>
      </p>

      <p class="article-permalink-p">
        <%= f.label :permalink %>
        <%= f.text_field :permalink, :disabled=>"disabled" %>
      </p>

      <p>
        <%= f.label :abstract%><br>
        <%= f.text_area :abstract %>
      </p>

      <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
      </p>

      <p>
        <%= f.label :all_tags %><br>
        <%= f.text_field :all_tags %>
      </p>

      <p class="article-submit">
        <%= f.submit %>
      </p>
  </section>

<% end %>

