<% @articles.each do |article| %>

    <article class="preview">
        <section class="left">
            <figure>
                <img
                    src""
                    width="200"
                    height="200"
                    alt="" />
                <figcaption>
                </figcaption>
            </figure>
        </section>

        <section class="right">
            <header>
                <h1><%= article.title %></h1>
            </header>
            <span>
                <%= article.text %>
            </span>
        </section>

        <section class="bottom">
            <ul>
                <li> <%= link_to 'Show', article_path(article) %></li>
                <li> <%= link_to 'Edit', edit_article_path(article) %></li>
                <li> <%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: {
                          confirm: 'Are you sure?' 
                      } %></li>
            </ul>
        </section>
    </article>
<% end %>
