<% content_for :scope, raw("itemscope itemtype='https://schema.org/TechArticle'") %>
<% content_for :title, @article.title %>
<% content_for :description, @article.abstract %>
<% content_for :keywords, @article.tags.map(&:name).join(", ") %>

<% content_for :gplus do %>
    <meta itemprop="name" content="<%= @article.title %>" >
    <meta itemprop="description" content="<%= @article.subtitle %>" >
    <meta itemprop="image" content="<%= @image_share %>">
<% end %>

<% content_for :twitter do %>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@gpantuza">
    <meta name="twitter:title" content="<%= @article.title %>" >
    <meta name="twitter:description" content="<%= @article.subtitle %>" >
    <meta name="twitter:creator" content="@gpantuza">
    <meta name="twitter:image:src" content="<%= @image_share %> >
<% end %>

<% content_for :facebook do %>
    <meta property="og:title" content="<%= @article.title %>"  />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= article_url(@article) %>" />
    <meta property="og:image" content="<%= @image_share %> />
    <meta property="og:description" content="<%= @article.subtitle %>"  />
    <meta property="og:site_name" content="Blog sobre Ciência da computação - Gustavo Pantuza" />
    <meta property="article:published_time" content="<%= @article.created_at %>" />
    <meta property="article:modified_time" content="<%= @article.updated_at %>" />
    <meta property="article:section" content="Ciência da computação" />
    <meta property="article:tag" content="Tecnologia" />
<% end %>


<section class="article-show">
    <article role="article">
        <section id="article-top-ads">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-0498762804992593"
                     data-ad-slot="9673006526"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </section>
        <header>
            <h1><%= @article.title %></h1>
            <h3><%= @article.subtitle %></h3>
            <time>Atualizado em <%= @article.updated_at.strftime "%Y/%m/%d %H:%M" %></time>
            <%= social_share_button_tag(@article.title, :url => article_url(@article), :image => @image_share, desc: @article.subtitle, via: "gpantuza") %>
        </header>

        <%= react_component('ContentBlock', {contentBlocks: @article.blocks, published: true}) %>

        <section id="related-tags">
            <header class="recommended-tags-header">
                <h3 class="title">Assuntos relacionados</h3>
            </header>
            <section class="article-recommended-tags">
                <ul class="article-tags-list">
                    <% @article.tags.each do |tag| %>
                        <li>
                            <span>
                                <%= link_to tag.name, tag_path(tag.name) %>
                            </span> .
                        </li>
                    <% end %>
                </ul>
            </section>
            <br class="clear-tags" />
        </section>

        <section id="botton-share-section">
            <%= social_share_button_tag(@article.title, :url => article_url(@article), :image => @image_share, desc: @article.subtitle, via: "gpantuza") %>
        </section>

        <section class="author">
            <div class="author-info">
                <div class="author-figure">
                    <figure>
                        <%= image_tag "author.png",
                            size: "100",
                            alt: "Gustavo Pantuza" %>
                    </figure>
                    <span>Gustavo Pantuza</span>
                </div>
                <div id="author-text">
                    <p>
                        Posts em português para fortalecer a comunidade
                        brasileira de Ciência da computação. Caso tenha
                        dúvidas, críticas ou sugestões de temas ou para o
                        blog deixe nos cometários :)
                    </p>
                </div>
            </div>
        </section>

        </hr>

        <section id="article-bottom-ads">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-0498762804992593"
                     data-ad-slot="2149739727"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </section>

    </article>

    <div id="disqus_thread"></div>

</section>
