<section class="article-show">
    <article>
        <section id="article-top-ads">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Gustavo Pantuza - Blog -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-0498762804992593"
                     data-ad-slot="9673006526"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </section>
        <header>
            <h1><%= @article.title %></h1>
            <h3><%= @article.subtitle %></h3>
            <time>Atualizado em <%= @article.updated_at.strftime "%Y/%m/%d %H:%M" %></time>
            <%= social_share_button_tag(@article.title) %>
        </header>

        <%= react_component('ContentBlock', {contentBlocks: @article.blocks, published: true}) %>

        <section id="botton-share-section">
            <%= social_share_button_tag(@article.title) %>
        </section>

        <section class="author">
            <div class="author-info">
                <div class="author-figure">
                    <figure>
                        <%= image_tag "author.png",
                            size: "100",
                            alt: "Gustavo Pantuza" %>
                    </figure>
                    <span>Gustavo Pantuza</span>
                </div>
                <div id="author-text">
                    <p>
                        Posts em português para fortalecer a comunidade brasileira
                        de Ciência da computação.
                    </p>
                </div>
            </div>
        </section>

        </hr>

        <section id="article-bottom-ads">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Gustavo Pantuza - Blog - bottom -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-0498762804992593"
                     data-ad-slot="2149739727"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </section>

    </article>

    <div id="disqus_thread"></div>
</section>
