<section class="article-show">
    <article>
        <header>
            <h1><%= @article.title %></h1>
            <h3><%= @article.subtitle %></h3>
            <time>Atualizado em <%= @article.updated_at.strftime "%Y/%m/%d %H:%M" %></time>
        </header>

        <%= react_component('ContentBlock', {contentBlocks: @article.blocks, published: true}) %>
        <%= debug @article.blocks %>

        </hr>

        <section>
            <p></p>
        </section>

    </article>

    <div id="disqus_thread"></div>
</section>
