<footer>

    <hr />
    <section class="location">
        <pre>
                       ,_   .  ._. _.  .
                   , _-\','|~\~      ~/      ;-'_   _-'     ,;_;_,    ~~-
          /~~-\_/-'~'--' \~~| ',    ,'      /  / ~|-_\_/~/~      ~~--~~~~'--_
          /              ,/'-/~ '\ ,' _  , '|,'|~                   ._/-, /~
          ~/-'~\_,       '-,| '|. '   ~  ,\ /'~                /    /_  /~
        .-~      '|        '',\~|\       _\~     ,_  ,               /|
                  '\        /'~          |_/~\\,-,~  \ "         ,_,/ |
                   |       /            ._-~'\_ _~|              \ ) /
                    \   __-\           '/      ~ |\  \_          /  ~
          .,         '\ |,  ~-_      - |          \\_' ~|  /\  \~ ,
                       ~-_'  _;       '\           '-,   \,' /\/  |
                         '\_,~'\_       \_ _,       /'    '  |, /|'
                           /     \_       ~ |      /         \  ~'; -,_.
                           |       ~\        |    |  ,        '-_, ,; ~ ~\
                            \,      /        \    / /|            ,-, ,   -,
                             |   <span class="blink">[]</span>/          |  |' |/          ,-   ~ \   '.
                            ,|   ,/           \ ,/              \       |
                            /    |             ~                 -~~-, /   _
                            |  ,-'                                    ~    /
                            / ,'                                      ~
                            ',|  ~
                              ~'
        </pre>
    </section>

    <aside>
        <div class="site-links">
            <section class="social" >
                <header><h3>Social</h3></header>
                <ul>
                    <li><a target="_blank" href="https://github.com/pantuza">Github</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/gustavo-pantuza-46089825">Linkedin</a></li>
                    <li><a target="_blank" href="https://twitter.com/gpantuza">Twitter</a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCiTfOE7yw__hd00Gx3M-uWQ">Youtube</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/pantuza">Facebook</a></li>
                </ul>
            </section>

            <section class="blog" >
                <header><h3>Conteúdo</h3></header>
                <ul>
                    <li><%= link_to 'Artigos', controller: 'articles' %></li>
                    <li><%= link_to 'Tags', controller: 'articles' %></li>
                    <li><%= link_to 'Projetos', root_path %></li>
                    <li><%= link_to 'Rss', root_path %></li>
                </ul>
            </section>

            <section class="about" >
                <header><h3>Sobre</h3></header>
                <ul>
                    <li><%= link_to 'Sobre', root_path %></li>
                    <li><a href="#">Pesquisa</a></li>
                    <li><a href="#">Palestras</a></li>
                    <li><a href="https://github.com/pantuza/vitex">Currículo</a></li>
                    <li><a href="http://lattes.cnpq.br/4792588328328072">Lattes</a></li>
                </ul>
            </section>
        </div>
    </aside>

    <section class="spock">
        <p>Live long and prosper, Mr Spock</p>
    </section>
</footer>
