<header>
    <section class="auth">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
        <% if current_user %>
            <div class="logout" >
                Logged in as <%= current_user.email %>
                <%= link_to "Log out", logout_path %>
            </div>
        <% else %>
            <div class="login" >
                <%= form_tag sessions_path do %>
                    <%= text_field_tag :email, params[:email], placeholder: "email" %>
                    <%= password_field_tag :password, "", placeholder: "password" %>
                    <%= submit_tag "Log in" %>
                <% end %>
            </div>
        <% end %>

        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
    </section>

    <div class="logo">
        <pre>
         ______     __
        |_   _ \   [  |
          | |_) |   | |    .--.     .--./)
          |  __'.   | |  / .'`\ \  / /'`\;
         _| |__) |  | |  | \__. |  \ \._//
        |_______/  [___]  '.__.'   .',__`
                                  ( ( __))
        </pre>
        <pre class="binary-year">
        00110010 00110000 00110001 00110110
        </pre>
    </div>

    <section class="search">
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Grep") %>
        <% end %>
    </section>

    <nav class="nav-bar" role="navigation">
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Artigos', controller: 'articles' %> |
        <%= link_to 'Mais acessados', top_articles_path %> |
        <%= link_to 'Recomendados', recommended_path %> |
        <%= link_to 'Tags', controller: 'tags' %> |
        <%= link_to 'Projetos', root_path %> |
        <%= link_to 'Palestras', root_path %>
        <%= link_to 'Rss', :controller => 'articles', :action => 'feed', :format => 'rss' %> |
        <%= link_to 'Sobre', "https://pantuza.com" %>
    </nav>

    <hr />
</header>
