<header>

    <section>
        <div class="login" >
            <%= form_tag sessions_path do %>
              <p>
                <%= label_tag :email %><br />
                <%= text_field_tag :email, params[:email] %>
              </p>
              <p>
                <%= label_tag :password %><br />
                <%= password_field_tag :password %>
              </p>
              <p class="button"><%= submit_tag "Log in" %></p>
            <% end %>
        </div>
        <div class="logout" >
            <div id="user_nav">
              <% if current_user %>
                Logged in as <%= current_user.email %>.
                <%= link_to "Log out", log_out_path %>
              <% else %>
                <%= link_to "Sign up", sign_up %> or
                <%= link_to "log in", log_in %>
              <% end %>
            </div>

            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
        </div>
    </section>
    <div class="logo">
        <pre>
         ______     __
        |_   _ \   [  |
          | |_) |   | |    .--.     .--./)
          |  __'.   | |  / .'`\ \  / /'`\;
         _| |__) |  | |  | \__. |  \ \._//
        |_______/  [___]  '.__.'   .',__`
                                  ( ( __))
        </pre>
        <pre class="binary-year">
        00110010 00110000 00110001 00110110
        </pre>
    </div>

    <section class="author">
        <div >
            <figure>
            <%= image_tag "author.png",
                size: "100",
                alt: "Gustavo Pantuza" %>
            </figure>
            <span>Gustavo Pantuza</span>
        </div>

        <div class="search">
            <%= form_tag("/search", method: "get") do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Grep") %>
            <% end %>
        </div>
    </section>

    <nav class="nav-bar">
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Artigos', controller: 'articles' %> |
        <%= link_to 'Tags', controller: 'articles' %> |
        <%= link_to 'Projetos', root_path %> |
        <%= link_to 'Rss', root_path %> |
        <%= link_to 'Sobre', root_path %>
    </nav>

    <hr />
</header>
