<header>
    <h1>Live long and prosper, Mr Spock</h1>
    <div class="logo">
        <pre>
         ______     __                     
        |_   _ \   [  |                    
          | |_) |   | |    .--.     .--./) 
          |  __'.   | |  / .'`\ \  / /'`\; 
         _| |__) |  | |  | \__. |  \ \._// 
        |_______/  [___]  '.__.'   .',__`  
                                  ( ( __)) 
        </pre>
        <pre class="binary-year">
        00110010 00110000 00110001 00110110
        </pre>
    </div>

    <section class="author">
        <div >
            <figure>
            <%= image_tag "author.png",
                size: "100",
                alt: "Gustavo Pantuza" %>
            </figure>
            <span>Gustavo Pantuza</span>
        </div>

        <div class="search">
            <%= form_tag("/search", method: "get") do %>
              <%= label_tag(:q, "Search for:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Grep") %>
            <% end %>
        </div>
    </section>

    <nav class="nav-bar">
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Artigos', controller: 'articles' %> |
        <%= link_to 'Tags', controller: 'articles' %> |
        <%= link_to 'Projetos', root_path %> |
        <%= link_to 'Rss', root_path %> |
        <%= link_to 'Sobre', root_path %>
    </nav>

    <hr />
</header>
