<%= link_to 'Lista de posts', controller: 'articles' %>
<% if current_user %>
    <%= link_to 'New article', new_article_path %>
<% end %>


<section id="home-content">

    <section id="last-recently-created" class="above-the-fold">
        <header class="home-list-title">
            <h3 class="atf-title">Últimos artigos</h3>
        </header>

        <section class="content-list">
            <ul class="left">
                <% @last_articles.each_with_index do |article, index| %>

                    <% if index == 2 %>
                        </ul>
                        <ul class="right">
                    <% end%>
                    <li>
                        <article>
                            <%= link_to article_path(article) do %>
                                <header>
                                    <h1><%= article.title %></h1>
                                </header>
                                <figure>
                                    <img
                                        src="<%= article.cover %>"
                                        width="180"
                                        height="180"
                                        alt="" />
                                    <figcaption>
                                    </figcaption>
                                </figure>
                                <span>
                                    <%= article.subtitle %>
                                </span>
                            <% end %>
                        </article>
                    </li>
                <% end %>
            </ul>
        </section>
    </section>

    <section id="top-articles" class="above-the-fold">
        <header>
            <h3 class="atf-title">Mais acessados</h3>
        </header>
    </section>

    <section class="home-pub-middle">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Gustavo Pantuza - Blog - Home above the fold -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0498762804992593"
                 data-ad-slot="2134563324"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>

    <section id="recommended-articles">
        <header>
            <h3 class="atf-title">Artigos recomendados</h3>
        </header>
        <section class="content-list">
            <ul class="left">
                <% @last_articles.each_with_index do |article, index| %>

                    <li>
                        <article>
                            <%= link_to article_path(article) do %>
                                <header>
                                    <h1><%= article.title %></h1>
                                </header>
                                <figure>
                                    <img
                                        src="<%= article.cover %>"
                                        width="180"
                                        height="180"
                                        alt="" />
                                    <figcaption>
                                    </figcaption>
                                </figure>
                                <div class="home-recommended-tags" >
                                    <%= article.tags.each do |tag| %>
                                        <span>
                                            <%= link_to tag.name, article_path(article) %>
                                        </span> .
                                    <% end %>
                                </div>
                            <% end %>
                        </article>
                    </li>
                <% end %>
            </ul>
        </section>
    </section>

    <section class="home-pub-bottom">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Gustavo Pantuza - Blog - Home bottom -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-0498762804992593"
                 data-ad-slot="3611296520"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </section>

</section>
